<div class="mypage">
    <div class="mypageLeft">
        <div class="mypageIcon">
            <%= image_tag current_user.icon.image_path, class: 'mypageImg' %>
        </div>
    </div>

    <div class="mypageRight">
        <ul class="mypageList">
            <li>名前: <%= current_user.nick_name %> </li>
            <li>年齢: <%= current_user.age.name %> </li>
            <li>性別: <%= current_user.sex.name %> </li>
            <li>職業: <%= current_user.status.name %> </li>
            <li>好きなタイトル: <%= current_user.favorite_title.name %></li>
        </ul>

        <div class="rightOption">
            <div class="optionBox">
                編集する
            </div>

            <div class="optionBox">
                ログアウト
            </div>

            <div class="optionBox">
                <i class="bi bi-arrow-through-heart-fill"></i>君に決めた
            </div>
        </div>
    </div>
</div>