<%= render 'share/header' %>
<div class="main">
        <div class="sideBar">
            <ul>
                <li><a href="#">探す</a></li>
                <li><a href="#">相手から</a></li>
                <li><a href="#">チャット</a></li>
            </ul>
            
                <%= link_to user_path(current_user) do %>
                    <i class="bi bi-person-circle"></i>
                <% end %>
        </div>

        <div class="mainArea" id="mainArea">
          <% @users.each do |user| %>
          <% unless user == current_user %>
            <div class="mainBigArea">
            <%= image_tag 'moonball.png', class:"moonball" %>
              <div class="mainBox">
                <%= image_tag user.icon.image_path, class:"icon" %>
                <ul class="intro">
                    <li><%= user.nick_name %></li>
                    <li> <%= user.age.name %></li>
                </ul>
              </div>
            </div>
          <% end %>
          <% end %>
        </div>
 

    </div>