<div class="main">
        <div class="sideBar">
            <ul>
                <li><a href="#">探す</a></li>
                <li><a href="#">相手から</a></li>
                <li><a href="#">チャット</a></li>
            </ul>
            
                <a href="#"><i class="bi bi-person-circle"></i></a>
        </div>

        <div class="mainArea" id="mainArea">
            <div class="mainBigArea">
            <%= image_tag "moonball.png", class:"moonball" %>
              <div class="mainBox">
                <%= image_tag "rizay.png", class:"icon" %>
                <ul class="intro">
                    <li>太陽</li>
                    <li>24歳</li>
                </ul>
              </div>
            </div>
            <div class="mainBox">
                <%= image_tag "moonball.png", class:"moonball" %>
                <img src="images/0c2f066d11c448109862cec46eb62521.png" alt="" class="icon">
                <ul class="intro">
                    <li>太陽</li>
                    <li>24歳</li>
                </ul>
            </div>

            <div class="mainBox">
                <%= image_tag "moonball.png", class:"moonball" %>
                <img src="images/0c2f066d11c448109862cec46eb62521.png" alt="" class="icon">
                <ul class="intro">
                    <li>太陽</li>
                    <li>24歳</li>
                </ul>
            </div>

            <div class="mainBox">
                <%= image_tag "moonball.png", class:"moonball" %>
                <img src="images/0c2f066d11c448109862cec46eb62521.png" alt="" class="icon">
                <ul class="intro">
                    <li>太陽</li>
                    <li>24歳</li>
                </ul>
            </div>
        </div>

    </div>