<div class="mypage">
    <div class="mypageLeft">
        <div class="mypageIcon">
            <%= image_tag @user.icon.image_path, class: 'mypageImg' %>
        </div>
    </div>

    <div class="mypageRight">
        <ul class="mypageList">
            <li>名前: <%= @user.nick_name %> </li>
            <li>年齢: <%= @user.age.name %> </li>
            <li>性別: <%= @user.sex.name %> </li>
            <li>職業: <%= @user.status.name %> </li>
            <li>好きなタイトル: <%= @user.favorite_title.name %></li>
            <li>ひとこと: <%= @user.profile %> </li>
        </ul>

        <div class="rightOption">
          <% if current_user.id == @user.id %>
            <div class="optionBox">
                編集する
            </div>

            <div class="optionBox">
                <%= link_to  "ログアウト", destroy_user_session_path, data: { turbo_method: :delete} %>
            </div>
          <% end %>
          <% if current_user.id != @user.id %>
            <%= form_with model: @match, url: user_matches_path, local: true do |f| %>
            <div class="optionBox">
                <%= f.hidden_field :user_id, value: @user.id %>
                <%= f.submit "君に決めた", class: 'match-btn' %>
            </div>
            <% end %>
          <% end %>
        </div>
    </div>
    
    <%= render  "share/return" %>
</div>